server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: account-service
          uri: http://localhost:9001
          predicates:
            - Path=/api/v1/account/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/