apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    jsonData:
      httpMethod: POST
      exemplarTraceIdDestinations:
        - name: trace_id
          datasourceUid: tempo

  # - name: Tempo
  #   type: tempo
  #   access: proxy
  #   orgId: 1
  #   url: http://tempo:3200
  #   # basicAuth: false
  #   isDefault: true
  #   version: 1
  #   editable: false
  #   apiVersion: 1
  #   uid: tempo
  #   jsonData:
  #     httpMethod: GET
  #     tracesToLogs:
  #       datasourceUid: "loki"
  #     serviceMap:
  #       datasourceUid: "prometheus"
  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    isDefault: false
    uid: loki
    jsonData:
      derivedFields:
        - datasourceUid: tempo
          matcherRegex: \[.+,(.+?),
          name: TraceID
          url: $${__value.raw}

  - name: Tempo
    type: tempo
    access: proxy
    url: http://tempo:3200
    isDefault: false
    uid: tempo
    jsonData:
      httpMethod: GET
      tracesToLogs:
        datasourceUid: "loki"
      nodeGraph:
        enabled: true
